.App {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: seashell;
  -moz-transform: scale(0.8, 0.8); /* Moz-browsers */
  zoom: 0.8; /* Other non-webkit browsers */
  zoom: 80%; /* Webkit browsers */
  /* min-height: 100vh; */
  padding-top: 0px;
}
.AppMain {
  flex-grow: 1;
  background-color: seashell;
}
.UnderHashRouter {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
